<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Products</title>
</head>
<body>
<div class="container">

    <form action="/login" method="post">
        <div class="container">
            <div class="col-xs-2 text-center">
                <label for="username"><b>Username</b></label>
                <br> <input type="text" placeholder="Enter Username" name="name">
            </div>
            <div class="col-xs-2 text-center">
                <label for="password"><b>Password</b></label>
                <br> <input type="password" placeholder="Enter Password" name="password">
            </div>
            <div class="text-center">
                <br>
                <button type="submit">Login</button>
            </div>
        </div>
    </form>

    <form action="/registration" method="post">
        <div class="col-xs-2 text-center">
            <label for="username"><b>Username</b></label>
            <br> <input type="text" placeholder="Enter Username" name="name">
        </div>
        <div class="col-xs-2 text-center">
            <label for="password"><b>Password</b></label>
            <br> <input type="password" placeholder="Enter Password" name="password">
        </div>
        <div class="text-center">
            <br>
            <button type="submit">New User</button>
        </div>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
